.addTemplate {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgb(var(--background-rgb));

  :global(input) {
    color: rgb(var(--foreground-rgb));
  }
}

.header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  width: 100%;
  .close {
    flex: 0 0 auto;
    cursor: pointer;
  }
  .title {
    flex: 1;
    text-align: center;
  }
  .save {
    flex: 0 0 auto;
  }
}
