@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --md-ref-typeface-plain: ui-sans-serif, system-ui, -apple-system;

  // Can't set max width of body, because <mwc-top-app-bar-fixed> will expand to fill the entire screen width

  color: var(--md-sys-color-on-surface);
  background: var(--md-sys-color-surface);
}

mwc-top-app-bar-fixed {
  --mdc-theme-primary: var(--md-sys-color-surface);
  --mdc-theme-on-primary: var(--md-sys-color-on-surface);

  md-icon-button {
    --_icon-color: var(--md-sys-color-on-surface);
    --_hover-icon-color: var(--md-sys-color-on-surface-variant);
    --_pressed-icon-color: var(--md-sys-color-on-surface-variant);
    --_focus-icon-color: var(--md-sys-color-on-surface-variant);
    --_hover-state-layer-color: var(--md-sys-color-on-surface-variant);
  }
}
